* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.navlist a{
    color: #000;
}

li:hover {
    cursor: pointer;
    color: #000;
    text-shadow: 2px 0 darkorange, -2px 0 darkorange, 0 2px darkorange, 0 -2px darkorange,
    1px 1px darkorange, -1px -1px darkorange, 1px -1px darkorange, -1px 1px darkorange;
}

.bookstorebtn a {
    color:black;
}

.bookstorebtn {
    cursor: pointer;
    font-weight: 600;
}


.logo-header a {
    color:rgb(253, 174, 27);
}
.logo-header p {
    color:darkgrey;
    position: absolute;
    margin-top: -1rem;
    margin-left: 3.5rem;
    font-size: small;
}

.wrapper {
    margin: auto;
    background-color:#121212;
    width: 100%;
}
.layout {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/bookview.jpg);
    margin: 5vh 5vh 5vh 5vh;
    width: 1300px;
    height: 2700px;
    border-radius: 10px;
    -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

.logo-header {
    position:absolute;
    text-align: center;
    margin-top: 0.3rem;
    margin-left: 2rem;
    color:darkolivegreen;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
.logo-header:hover {
    cursor: pointer;
    opacity: 0.5;
}

.chart-icon {
    font-size: 25px;
    position: absolute;
    margin-left: 90%;
    margin-top: 2rem;
}

.cart-counter {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 60px;
    right: 90px;
    position: absolute;
    display: none;
}

.chart-icon:hover {
    cursor: pointer;
    opacity: 0.5;
}

.navbar {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 15vh;
    background-color: chocolate;
    border-style: groove;
    border-color: black;
    border-bottom: none;
    color:black;
    z-index: 3;
    position: sticky;
}

.navlist {
    position: absolute;
    display: flex;
    margin-top: 3rem;
    margin-left: 27%;
    gap: 20vh;
}

/* BOOK GRID */

.bookgrid {
padding-top: 4rem;
gap: 1rem;
row-gap: 2rem;
width: 1160px;
display: grid;
grid-template-columns: auto auto auto;
margin: auto;
justify-content: space-evenly;
}

.book {
    width: 400px;
    height: 585px;
    border-style: groove;
    border-radius: 10px;
    -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    background-color:white;
    position: relative;
}

.book img {
    width: 200px;
    height: 300px;
}

/*SHOW MORE*/

.showmore-btn {
    font-weight: 700;
    color: brown;
    position: absolute;
    bottom: 3rem;
    left: 9rem;
    text-align: center;
}
.showmore-btn:hover {
    cursor: pointer;
    opacity: 0.6    ;
}

.showxbutton {
    position: absolute;
    right: 0;
    top: 0;
}

.addtobagbtn {
    width: 100%;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: gold;
    border-radius: 5px;
    border: solid gold;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.addtobagbtn:hover {
    opacity: 0.7;
}

/* shop cart styles*/

.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color:#fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.modal-header {
    justify-content: space-evenly;
    background-color:burlywood;
    color: black;
    width: 100%;
}

.modal-header-title {
    text-align: center;
}

.modalcontainer > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.titlecart img {
    height: 150px;
    width: 100px;
    margin-left: 1rem;
}
.titlecart p {
    font-size: 14px;
}
.detailscart {
    font-size: 12px;
    position: absolute;
    padding-left: 40rem;
}

.delete-book {
    cursor: pointer;
    position: absolute;
    padding-left: 47rem;
}

.modalxbutton {
    cursor: pointer;
    position: absolute;
    margin-left: 63rem;
    margin-top: -3rem;
}

.total-content {
    background-color: #121212;
    color: white;
    width: 100%;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    border-style: double;
    padding-top: 20px;
}
.confirm-order {
    text-decoration-style: none;
    border-radius: 2%;
    background-color: gold;
    position: absolute;
    margin-left: 13rem;
    margin-bottom: 1rem;
}

/* show more container */
.show-more-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color:#fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.showxbutton {
    cursor: pointer;
}

.delete-book {
    cursor: pointer;
}

/* confirm order page */

.order-title {
    position: absolute;
    display: flex;
    text-align: center;
    margin-left: 28rem;
    margin-top: 2rem;
    font-size: 25px;
    font-weight: 800;
}

.order-page {
    color:#fff;
    display: flex;
    margin: 10vh 5vh 5vh 60vh;
    padding-top: 2rem;
    gap: 1rem;
    height: 1000px;
    width: 40%;
    background-color: #121212;
    border: double;
    text-align: center;
}
input[type="checkbox"] + label {
	user-select: none;
}

input[type="checkbox"]:disabled + label {
	opacity: 0.4;
}
.personalinfo {
    margin-top: 1rem;
}

.red {
    color: red;
}

.gifttitle {
    padding: 1rem;
}

.selectpayment {
    padding: 1rem;
}